body {
  background-color: rgba(0, 0, 0, 0.8);
}

.contact {
  padding: 4%;
  height: 100vh;
}

.mask {
  background-color: rgba(255, 155, 0, 0.8);
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  height: 100%
}

.col-lg-3 {
  background-image: url("background-image.jpg");
  padding: 0;
  background-position: center;
  background-size: cover;
}

.contact-info {
  margin-top: 10%;
}

.contact-info img {
  margin-bottom: 15%;
}

.contact-info h2 {
  margin-bottom: 10%;
}

.col-lg-9 {
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.contact-form label {
  font-weight: 600;
}

.contact-form button {
  background: #ff9b00;
  color: #fff;
  font-weight: 600;
  width: 25%;
}

.contact-form button:focus {
  box-shadow: none;
}

h2{
	font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 900;
	color: #fff
}
h4{
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 900;
	color: #fff
}

input[type="date"]::-webkit-datetime-edit, input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-clear-button {
  color: #fff;
  position: relative;
}

input[type="date"]::-webkit-datetime-edit-year-field{
  position: absolute !important;
  border-left:1px solid #8c8c8c;
  padding: 2px;
  color:#000;
  left: 56px;
}

input[type="date"]::-webkit-datetime-edit-month-field{
  position: absolute !important;
  border-left:1px solid #8c8c8c;
  padding: 2px;
  color:#000;
  left: 26px;
}


input[type="date"]::-webkit-datetime-edit-day-field{
  position: absolute !important;
  color:#000;
  padding: 2px;
  left: 4px;

}
