body {
  position: relative;
}



#intro {
  background-image: url("background-image.jpg");
  background-position: center;
  background-size: cover;
}

.navbar-brand {
  font-family: "Montserrat";
  font-size: 2.5rem;
  font-weight: 600;
  margin-right: 8rem;
}

.navbar-toggler-icon {
  width: 5rem;
  height: 5rem;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 1.5rem;
  padding-right: 1rem;
}

.koko a {
  position: relative;
}

.koko a::after {
  content: "";
  height: 5px;
  background: #fff;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  transition: all 0.5s ease;
}

.koko a:hover::after {
  width: 50px;
}

.navbar-nav li a {
  color: #fff;
  font-size: 30px;
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.navbar-nav li a {
  display: flex;
  justify-content: space-around;
}

.navbar-nav li a:hover {
  background: rgba(0, 0, 0, 0.8);
  border-color: #fff;
}

.mask {
  background-color: rgba(0, 0, 0, 0.8);
}

.text-white {
  padding-top: 6rem;
  padding-bottom: 12rem;
}

.h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 4.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.h2 {
  font-family: 'Sacramento', cursive;
  line-height: 1.5;
  font-size: 3.5rem;
  letter-spacing: 1.5px;
}

.container-fluid {
  padding: 3% 10%;
}

.icon {
  padding-left: 10px;
}

.nav-item {
  margin-right: 10px;
}

.btn-book {
  border-radius: 25px;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.btn-book h4 {
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
}

.social-icons {
  width: 350px;
  margin: 40px auto 0 auto;
  padding-bottom: 30px;
  display: none;
}

.social-icons ul a {
  color: #fff;
  font-size: 50px;
  display: block;
  width: 100px;
  height: 100px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.social-icons ul li {
  padding: 30px 30px 90px 30px;
}

.social-icons ul {
  display: flex;
  justify-content: center;
}

.social-icons ul a:hover {
  background: rgba(0, 0, 0, 0.8);
  border-color: #fff;
}

hr {
  border-color: rgba(0, 0, 0, 0.7);
  border-width: 5px;
  border-style: dotted none none;
  width: 25% ;
  margin: 50px auto;
  background-color: transparent;
  opacity: 0.9;
}

/*carosel*/
.carousel-indicators [data-bs-target]{
  text-indent: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding : 10px 5px 32px;
  color: #fff;
  font-weight: bold;
  border-radius: 50%
}


.c-icon {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
}

.picture-slides {
  padding-bottom: 5rem;
}

.card {
  margin: 5%;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);

}

.card-body {
  padding: 0;
}

.carousel-item {
  opacity: 1;
  padding: 0 10%;
}

.c-image {
  border-radius: 5%;
  height: 100%
}

/*service*/
#service {
  padding-top: 50px;
}

.service {
  position: relative;
  margin-bottom: 50px;
}

.intro-service {
  margin-bottom: 20px;
}

.intro-service p {
  font-size: 1.5rem;
}

.service {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  font-weight: 800;
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  border-radius: 5%
}

.text-brand {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 10%;
  text-align: center;
  padding: 0 1%;
}

.service .icon-box {
  background-color: black;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  margin-right: 18px;
  border-radius: 1000px;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50% -50%);
  opacity: 0;
  transition: all 0.4s ease;
}

.service:hover .icon-box {
  opacity: 1;
  top: 40%
}

.service-image {
  width: 100%;
  border-radius: 0 0 5% 5%;
}

.service .icon-box .icon-box-image {
  height: 38px;
  width: 38px;
}

/*Modal*/
.modal-title {
  color: rgba(0, 0, 0, 0.7);
}

.visually-hidden {
  color: black;
  font-weight: 900;
}

/*Pricing*/
#Pricing {
  padding: 50px 0;
}

.pricingTable {
  text-align: center;
  position: relative;
  transform: translateZ(0px);
  border-radius: 15px;
}

.pricingTable:before,
.pricingTable:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  z-index: -1;
  transition: all 0.5s ease 0s;
}

.pricingTable:before {
  border-right: 2px solid rgba(0, 0, 0, 0.8);
  ;
  border-left: 2px solid rgba(0, 0, 0, 0.8);
  ;
  transform: scaleY(0);
  transform-origin: 100% 0 0;
  border-radius: 15px;
}

.pricingTable:after {
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
  ;
  border-top: 2px solid rgba(0, 0, 0, 0.8);
  ;
  transform: scaleX(0);
  transform-origin: 0 100% 0;
  border-radius: 15px;
}

.pricingTable:hover:before {
  transform: scaleY(1);
}

.pricingTable:hover:after {
  transform: scaleX(1);
}

.pricingTable .pricingTable-header {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px 0;
  width: 100%;
  border-radius: 15px;
}

.pricingTable .pricing-content {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.pricingTable .pricing-content li {
  font-size: 16px;
  color: #7a7e82;
  line-height: 40px;
  border-radius: 15px;
}

.pricingTable .read:hover i {
  right: 5px;
}

.pricingTable .read:before,
.pricingTable .read:after {
  content: "";
  display: block;
  height: 30px;
  border-left: 2px solid #7a7e82;
  position: absolute;
  right: -11px;
  transition: all 0.3s ease 0s;
  border-radius: 15px;
}

.pricingTable .read:before {
  bottom: -6px;
  transform: rotate(45deg);
}

.pricingTable .read:after {
  top: -6px;
  transform: rotate(-45deg);
}

.pricingTable .read:hover:before,
.pricingTable .read:hover:after {
  border-left-color: rgba(0, 0, 0, 0.8);
}

.accordion-button {
  display: inline;
  text-align: center;
}

.btn-price {
  width: 100%;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 5px;
}

.amt {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin-top: 20px;
  padding: 5px 20px;
  border-radius: 15px;
}

.amt:hover {
  color: rgba(0, 0, 0, 0.8);
  background-color: #fff;
}
.accordion-item:first-of-type .accordion-button {
  border-radius: 15px;
}
.accordion-item:last-of-type .accordion-button.collapsed{
    border-radius: 15px;
}


/*Contact*/
#contact {
  padding-top: 50px;
}

.contact-top {
  text-align: center;
}

.contact-top h3 {
  font-size: 28px;
}

.contact-top p {
  font-weight: 300;
  width: 70%;
  margin: 0 auto;
}

.ctn div {
  text-align: center;
  padding: 50px 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border: 4px solid #fff;
  border-radius: 25px;
}

.ctn div span {
  display: block;
}

.contact-icon {
  font-size: 40px;
}

.add-1 {
  font-size: 18px;
  font-weight: 900;
}

.contact-middle div p {
  font-weight: 300;
  opacity: 0.7;
}

.contact-bottom {
  margin-top: 50px;
}

.form input[type="text"], .form input[type="email"], .form textarea {
  width: 100%;
  font-size: 20px;
  padding: 10px 15px;
  margin: 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.8);
  outline: none;
  border-radius: 5px;
}

.contact-bottom .form {
  padding: 0 20px;
}

.btn-contact {
  display: block;
  width: 200px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  background: transparent;
  font-size: 20px;
  padding: 12px;
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  margin: 15px 0;
  transition: all 0.5s ease;
  font-weight: 900;
}

.btn-contact:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}

/******************* Footer Styling *****************/
.footer {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 40px 0;
  text-align: center;
  margin-top: 50px;
}

.footer-container>div {
  margin: 40px 0;
}

.footer-container h2 {
  color: #FFF;
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 7px;
  -webkit-animation: colorchange 20s infinite alternate;
}

.footer-container p {
  opacity: 0.7;
}

.subs {
  border: 2px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
}

.subs i {
  font-size: 26px;
  flex: 10%;
  display: block;
}

.subs input {
  flex: 60%;
  background: transparent;
  border: none;
  font-size: 16px;
  padding: 0 5px;
  outline: 0;
  color: #fff;
}

.subs button {
  flex: 30%;
  font-size: 16px;
  padding: 15px 0;
  font-weight: bold;
  background: #fff;
  border: none;
  transition: all 0.5s ease;
  cursor: pointer;
  color: #000
}

.subs button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFF
}

.footer>p {
  text-align: center;
  font-size: 14px;
}

@-webkit-keyframes colorchange {
  0% {
    color: blue;
  }

  10% {
    color: #8e44ad;
  }

  20% {
    color: #1abc9c;
  }

  30% {
    color: #d35400;
  }

  40% {
    color: blue;
  }

  50% {
    color: #34495e;
  }

  60% {
    color: blue;
  }

  70% {
    color: #2980b9;
  }

  80% {
    color: #f1c40f;
  }

  90% {
    color: #2980b9;
  }

  100% {
    color: pink;
  }
}


@media (min-width: 992px) {
  .container{
    max-width: 1140px;
  }
}
@media (max-width: 991.98px) {

  .navbar-dark .navbar-nav .nav-link {
    font-size: 2.5rem;
  }

  .navbar-dark .navbar-brand {
    padding-right: 65px;
  }

  .text-white {
    margin-top: 0;
  }

  .navbar-brand {
    margin-right: 50px;
    font-size: 5rem;
  }

  .container-fluid {
    margin: 3% 3%;
  }

  .tabs {
    display: none;
  }

  .mobs {
    display: none;
  }

  .modal-image {
    margin-left: 50px;
  }

  .koko a:hover::after {
    width: 0;
  }

  .icon {
    padding-left: 10px;
  }

  .add-1 {
    font-size: 3rem;
    font-weight: 600;
  }

  .service-head {
    font-size: 3rem;
  }

  .social-icons {
    display: contents;
  }

  li.nav-item {
    display: none;
  }

  .form input[type="text"], .form input[type="email"], .form textarea {
    font-size: 30px;
  }

  .contact-middle div p {
    font-size: 2rem;
  }

  .intro-service h1 {
    font-size: 3rem;
  }

  .intro-service p {
    font-size: 1.5rem;
  }

  .pricingTable {
    margin-bottom: 25px;
  }

  .heading {
    font-size: 3rem;
  }

  .btn-price {
    font-size: 3rem;
  }

  .amt {
    font-size: 3rem;
  }
}

@media (max-width: 767.98px) {
  #service {
    padding-top: 10px;
  }

  .icon {
    padding-right: 15px;
  }

  .text-white {
    margin-top: 0;
  }

  .mobs {
    display: none;
  }

  .service-container {
    padding: 0 15%;
  }

  .koko a:hover::after {
    width: 0;
  }

  .icon {
    padding-left: 25px;
  }

  .navbar-brand {
    font-size: 4rem;
  }
}
